$bgColor: #f1faee;
$contentColor: rgba(168, 218, 220, 0.1);
$messagesBgColor: rgba(255, 255, 255, 0.5);
$messageBgColor: rgba(69, 123, 157, 0.9);
$submitBtnColor: rgba(230, 57, 70, 0.9);
$submitHoverColor: rgba(230, 57, 70, 1);

$lightColor: #fff;
$fontColor: $messagesBgColor;
$inputsFontColor: rgba(0, 0, 0, 0.8);

$contentBoxShadow: 0 5px 20px rgba(58, 59, 61, 0.4);
$innerContentShadow: 0 5px 20px rgba(58, 59, 61, 0.2);

$animOnHover: 0.2s;

$mainBrdrRadius: 20px;
$smallBrdrRadius: 5px;

$xsGap: 5px;
$sGap: $xsGap * 2;
$mGap: $xsGap * 4;
