@import './styles/styles';

* {
  box-sizing: border-box;
}

body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  @extend %fontRoboto;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $bgColor;

}

.content {
  width: 90vw;
  max-width: 900px;
  border-radius: $mainBrdrRadius;
  box-shadow: $contentBoxShadow;
  background: $contentColor;
  overflow: hidden;

}
