@import '../../styles/styles.scss';

.messages {
  position: relative;
  padding-left: $sGap;
  padding-right: $sGap;
  padding-top: $sGap;
  margin: $mGap;
  height: 60vh;
  overflow-y: scroll;
  background: $messagesBgColor;
  border-radius: $smallBrdrRadius;
  box-shadow: $innerContentShadow;

  @extend %defauilScrollY;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 90%;
    padding: $sGap;
    margin-bottom: $sGap;
    background: $messageBgColor;
    border-radius: $mainBrdrRadius $mainBrdrRadius $mainBrdrRadius $smallBrdrRadius;
  }

  &__name,
  &__text,
  &__date {
    display: block;
    position: relative;
    width: 100%;
    overflow-wrap: break-word;
    line-height: 130%;
    color: $bgColor;
  }

  &__name,
  &__date {
    font-style: italic;
    font-size: 13px;
    color: $messagesBgColor;
  }

  &__text {
    margin-bottom: $xsGap;
  }
}
